body {
  padding: 100px;
  font-family: Monument Grotesk, Arial, Helvetica, sans-serif;
  font-size: 30px;
}

a:visited {
  color: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li + li {
  margin-top: 20px;
}
